@charset "utf-8";

body {
  background-color: #ecf0f1;
}
h1 {
  color: #34495e;
  transition: 0.3s;
}
h4 {
  font-size: 20px;
  color: #1fbf8b;
}

.clicked {
  color: #7f8c8d;
}

.js-form,
.js-greeting {
  display: none;
}

.showing {
  display: block;
}

input[type="text"] {
  padding: 15px;
  border: 1px solid #ccc;
  font-size: 15px;
}

button {
  background-color: transparent;
  border-width: 0;
}